* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: sans-serif;
}

.body, .header {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.nav, .banner, ul.links, .image, .info-section, .footer {
    display: flex;
    flex-direction: row;
}

/* HEADER */

.header {
    padding: 10px 180px;
    background-color: #1F2937;
}

/* nav */

.nav {
    padding-top: 12px;
}

.nav .logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul.links {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;

    display: flex;
    gap: 20px;
}

ul.links li a {
    color: #f9faf8;
    text-decoration: none;
}

/* banner */

.banner {
    padding: 120px 0px;
    gap: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #e5e7e8;
}

.hero button {
    background-color: #3882f6;
    border-radius: 5px;
    box-shadow: none;
    border-style: none;
    border-width: 0px;

    padding: 8px 32px;

    color: #f9faf8
}

.image {
    justify-content: center;
    align-items: center;

    flex: 0 0 475px;

    background-color: #6d747d;
    color: #f7f7f8;
    text-align: center;
}

/* INFO-SECTION */

.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 40px 120px;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    width: 100vw;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    color: #68707b;
    gap: 5px;
}

.card .box {
    border: 2px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 12px;
}

/* QUOTE SECTION */

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 240px;
    gap: 12px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

/* CTA SECTION */

.cta-section {
    margin: 100px 200px;
    padding: 30px 120px;
    
    height: 140px;
    
    background-color: #3882f6;
    border-radius: 12px;

    display: flex;

    justify-content: space-between;
    align-items: center;
}

.cta-section div {
    font-size: 20px;
    font-weight: 600;
    color: #f9faf8;
}

.cta-section p {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.cta-section button {
    border: 2px solid white;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    background-color: #3882f6;
    font-size: 14px;
    font-weight: bold;
}

/* FOOTER */

.footer {
    justify-content: center;
    align-items: center;
}

.footer div {
    background-color: #1F2937;
    color: #e5e7e8;
    flex: auto;
    text-align: center;
    padding: 28px 0px;
    font-weight: lighter;
}